- name: Initialize Kubernetes control plane
  command: kubeadm init --pod-network-cidr=10.244.0.0/16 --control-plane-endpoint=ansible1
  register: kubeadm_init
  args:
    creates: /etc/kubernetes/admin.conf

- name: Create .kube directory for cyna
  file:
    path: /home/cyna/.kube
    state: directory
    owner: cyna
    group: cyna
    mode: '0755'

- name: Copy admin.conf to user's kube config
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/cyna/.kube/config
    remote_src: yes
    owner: cyna
    group: cyna
    mode: '0644'

- name: Set kubeconfig fact
  set_fact:
    kubeconfig_path: /home/cyna/.kube/config

- name: Wait for Kubernetes API to be ready
  command: kubectl get nodes
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: kube_api
  retries: 15
  delay: 10
  until: kube_api.rc == 0

- name: Install Calico CNI
  command: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.28.0/manifests/calico.yaml
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Wait for all control plane pods to be Ready
  become_user: cyna
  command: kubectl wait --for=condition=Ready pod --all -n kube-system --timeout=300s
  environment:
    KUBECONFIG: /home/cyna/.kube/config 


- name: Save kubeadm join command for workers
  shell: kubeadm token create --print-join-command
  register: join_command_result
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Set join_command fact
  set_fact:
    join_command: "{{ join_command_result.stdout }}"


